# This is shell snippet. Remember not to include any extra spaces!
visitors=https://visitors.example.com
server=https://matrix.example.com:8448
room='!roomid:example.com'
token=YOUR_ACCESS_TOKEN_HERE
